body {
  background-color: rgb(235, 183, 88);
}

.firstDiv {
  text-align: center;
}

.inputs {
  text-align: center;
}

.secondDiv {
  text-align: center;
}

.outputs {
  text-align: center;
}
